Eg 1

In [44]:
#probability of getting 3 when a die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns #P(A)
print("Probability of getting 3 is:", pa)

Probability of getting 3 is: 0.16666666666666666

In [45]:
#probabilty of atleast getting one head when a coin is tossed thrice

ns = 8 #n(S) = {HHT,HHH, HTH,THH,TTH,THT,HTT,TTT}
na = 7 #n(A) = {THT,TTH,HTT}
pa = na/ns #P(A)
print("probability of getting atleast one head is: ",pa)

probability of getting atleast one head is:  0.875

In [4]:
#A Glass jar contains 5 red, 3 blue, and 2 green jelly beans .if a jelly bean is chosen at random from the jar, what is the probability that it is not blue?

ns = 10 #n(S) = {5red, 3blue, 2green}
na = 7#n(A) ={5red, 2green}
pa = na/ns
print("probabaillity of getting not blue jellybean is: ",pa)

probabaillity of getting not vlue jellybean is:  0.7

In [7]:
#if the probability that a person A will alive in 20 years is 0.7
#and the probability that person B will be alive in 20years is 0.5,
#what is the probability that they will both be alive in 20 years
#These are the independent events so, 

P = 0.7*0.5
print("probability that they will be alive aftetr 20 years is", P)

probability that they will be alive aftetr 20 years is 0.35

In [17]:
def event_probability(n,s):
    return n/s

In [18]:
# A fair die is rolled twice. find the probability of geting
# a 4 or 5 on the first toss and a,1,2, or 3 in 
# the second toss.
pa = event_probability(2,6) #probability of getting a 4 or 5 on the first toss
pb = event_probability(3,6) #probability of getting 1,2 or 3 on the second toss
p = pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is: ",p)

probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is:  0.16666666666666666

In [21]:
#A bag contains 5 white marbles, 3 black marbles and 2green marbles. In
#each draw, a marble is drawn from the bag and not replaced . In three draws,
#find the probability of obtaining white,black and green in that order.
pw = event_probability(5,10)
pb = evevnt_probability(3,9)
pg = evevnt_probability(2,8)

print("the probability of obtaining white, black and green in that order is ",pw*pb*pg)

the probability of obtaining white, black and green in that order is  0.041666666666666664

In [50]:
#sample space 
cards = 52
 
#calculate the probability of drawing a heart or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts,cards) +event_probability(clubs,cards)
print(heart_or_club)

0.5

In [25]:
#calculate the probabillity of drawing an ace,
# king or a queen 
aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces,cards) +event_probability(kings, cards) +event_probability(queens, cards)
print(ace_king_or_queen)

0.23076923076923078

In [29]:
#calculate the probability of drawing a heart or an ace
hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards) + event_probability(aces, cards) - event_probability(ace_of_hearts, cards)
printround(heart_or_ace,1)

0.3076923076923077 1

In [33]:
#calcuate the probability of drawing red cards or
# a face cards.

red_cards = 26
face_cards = 12
red_face_cards = 6

red_or_face_cards = event_probability(red_cards,cards)+event_probability(face_cards,cards) - event_probability(red_face_cards,cards)
print(red_or_face_cards)

0.6153846153846154

In [34]:
#complementary events

In [35]:
#probability of not getting 5 when a fair die is rolled 
ns = 6 #n(s) = {1,2,3,4,5,6}
na = 1#n(A) = {5}
pa = na/ns #P(A)
print("probability of not getting 5 is", 1-pa)

probability of not getting 5 is 0.8333333333333334

In [54]:
import pandas as pd
import numpy as np
df = pd.read_csv("C://Users//Akshay Waje//Downloads//student-mat.csv - student-mat.csv (2).csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [60]:
df['grade_A'] = np.where(df['G3']*5 >= 80,1, 0)

In [61]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,0

In [62]:
df['my_col'] = np.where(df['G1']==5, 1, 0)

In [64]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,grade_A,my_col
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,0,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,0,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,0,0

In [66]:
df['high_absences'] = np.where(df['absences'] >= 10,1,0)

In [68]:
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc,Walc,health,absences,G1,G2,G3,grade_A,my_col,high_absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,1,3,6,5,6,6,0,1,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,1,1,3,4,5,5,6,0,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,3,3,10,7,8,10,0,0,1

In [69]:
df['count']=1

In [74]:
df = df[['grade_A','high_absences','count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [75]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absences'],
    aggfunc=np.size,
    fill_value=0
)

In [77]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

# Combinations : Permutations & Combinators

In [2]:
import itertools
from itertools import product

box_1 = ['g','b']
perm=[]
for p in itertools.product(box_1, repeat = 2):
    perm.append(p)
    
perm

[('g', 'g'), ('g', 'b'), ('b', 'g'), ('b', 'b')]

In [7]:
import itertools
from itertools import product

box_2 = ['g','b','y']
perm=[]
for p in itertools.product(box_2, repeat = 3):
    perm.append(p)
    
perm

[('g', 'g', 'g'),
 ('g', 'g', 'b'),
 ('g', 'g', 'y'),
 ('g', 'b', 'g'),
 ('g', 'b', 'b'),
 ('g', 'b', 'y'),
 ('g', 'y', 'g'),
 ('g', 'y', 'b'),
 ('g', 'y', 'y'),
 ('b', 'g', 'g'),
 ('b', 'g', 'b'),
 ('b', 'g', 'y'),
 ('b', 'b', 'g'),
 ('b', 'b', 'b'),
 ('b', 'b', 'y'),
 ('b', 'y', 'g'),
 ('b', 'y', 'b'),
 ('b', 'y', 'y'),
 ('y', 'g', 'g'),
 ('y', 'g', 'b'),
 ('y', 'g', 'y'),
 ('y', 'b', 'g'),
 ('y', 'b', 'b'),
 ('y', 'b', 'y'),
 ('y', 'y', 'g'),
 ('y', 'y', 'b'),
 ('y', 'y', 'y')]

In [8]:
#without repeatation

In [9]:
import itertools

box_1 = ['g','b']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b')
('b', 'g')

In [10]:
import itertools

box_1 = ['g','b','y']
perm = itertools.permutations(box_1)

for i in list(perm):
    print(i)

('g', 'b', 'y')
('g', 'y', 'b')
('b', 'g', 'y')
('b', 'y', 'g')
('y', 'g', 'b')
('y', 'b', 'g')

In [13]:
#VARIATIONS with repeatation ( IF SETS Have 3 elements we repeat it 2 times in for loop unlike permutations case1)

In [14]:
import itertools
from itertools import product

box_2 = ['g','b','Y']
perm=[]
for p in itertools.product(box_2, repeat = 2):
    perm.append(p)
    
perm

[('g', 'g'),
 ('g', 'b'),
 ('g', 'Y'),
 ('b', 'g'),
 ('b', 'b'),
 ('b', 'Y'),
 ('Y', 'g'),
 ('Y', 'b'),
 ('Y', 'Y')]

In [18]:
#Without repeatation (n! / (n-k)!)

In [21]:
box_2 = ['g','b','Y']
perm=itertools.permutations(box_2,2)

for i in list(perm):
    print(i)

('g', 'b')
('g', 'Y')
('b', 'g')
('b', 'Y')
('Y', 'g')
('Y', 'b')

In [22]:
box_2 = ['g','b','Y']
perm=itertools.permutations(box_2,2)

for p in list(perm):
    print(i)

('Y', 'b')
('Y', 'b')
('Y', 'b')
('Y', 'b')
('Y', 'b')
('Y', 'b')

#                 # Combinations

In [26]:

#wih repeatations 
#the no of posssible combinations (with repeatation) is given by:
# C(n,k) = (n+k-1)!/k!(n-1)!

In [27]:
from itertools import combinations_with_replacement

box_1 = ['g','b']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('b', 'b')

In [29]:
from itertools import combinations_with_replacement

box_1 = ['g','b','y','w']
comb = combinations_with_replacement(box_1,2)

for i in list(comb):
    print(i)

('g', 'g')
('g', 'b')
('g', 'y')
('g', 'w')
('b', 'b')
('b', 'y')
('b', 'w')
('y', 'y')
('y', 'w')
('w', 'w')

In [32]:
#without repetition 
# C(n,k) = n! / k!(n-k)!

In [34]:
from itertools import combinations

box_1 = ['g','b']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('g', 'b')

In [39]:
from itertools import combinations

box_1 = ['g','b','w']
comb = combinations(box_1,2)

for i in list(comb):
    print(i)

('g', 'b')
('g', 'w')
('b', 'w')

In [40]:
from itertools import combinations

box_1 = ['g','b','w','y']
comb = combinations(box_1,3)

for i in list(comb):
    print(i)

('g', 'b', 'w')
('g', 'b', 'y')
('g', 'w', 'y')
('b', 'w', 'y')